<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @item.image.thumb.url %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @item.comments %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
